*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
}

table{
    width: 600px;
    height: 600px;
    border: solid rgb(124, 2, 2);
}

td{
    text-align: center;
    vertical-align: center;
    border: 1px solid rgb(51, 1, 1);
    background: rgb(181, 1, 1);
}

.visivel{
    visibility: hidden;
}