
img{
    border-radius: 20%;
}

@font-face{
    font-family:'04b_30__';
    src: url('04B_30__.TTF') format('truetype');
}
#text-element{
    font-family:'04b_30__', Arial,sans-serif;
}

h1{
    font-family: '04b_30__';
    font-size: 90px;
    color: rgb(241, 176, 12);
}